{% extends 'base.html' %}

{% block js %}
<script src="/static/javadnd.js"></script>
<script src="/static/create_cat_boxes.js"></script>
<script src="/static/create_trans.js"></script>

{% endblock %}

{% block content %}
<div id="container" class="container m-2">
    <div class="row vh-100" id="cat-col">
        <div class="col-4 square rounded p-5 m-2 vh-100" style="background-color: #ff9966; overflow-y: scroll;" id="all-transactions">
            <h1 id="category-name">All Transactions</h1>
        </div>
        <div class="col category-bucket">
            <div class="row vh-100" style="overflow-y: scroll;" id="all-categories">
            </div>
        </div>
    </div>
</div>
{% endblock %}

