{% extends 'base.html' %}

{% block title %}Log In!{% endblock %}
   
{% block js %}
<script defer src="/static/login.js"></script>
{% endblock %}

{% block content %}
<section class="vh-100" style="background: linear-gradient(0deg, #ff9966 0%, #1CB5E0 100%);">
    <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="border-radius: 1rem; background-color: #000851;">
                    <div class="card-body p-5 text-center">
                        <img src="/static/images/easy-money-high-resolution-logo-color-on-transparent-background.png" height="150px" width="471px">
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <h1>Login</h1>
                        <form id="login-form" action="/do-login" method="POST">
                            <label for="user_email">Email</label>
                            <input type="text" name="email" id="user_email" class="form-control" required>
                            <br>
                            <label for="user_password">Password</label>
                            <input type="password" name="password" id="user_password" class="login-form-field" required>
                            <button type="submit" id="login-form-submit">Go</button>
                        </form>
                    </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}