{% extends 'base.html' %}

{% block title %}Goodbye!{% endblock %}
   
{% block js %}
{% endblock %}

{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="border-radius: 1rem; background-color: #024080;">
                    <div class="card-body p-5 text-center">
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <h1>You have been safely logged out</h1>
                        <a href="/">Return Home</a>
                    </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}