{% extends 'base.html' %}

{% block title %}Welcome to Easy Money!{% endblock %}
   

{% block content %}
<div class="heroSection" style="background-color: #ff9966">
    <div class="row">
        <div class="col">
            <img src="/static/images/budget_image_one.jpeg" class="img-fluid rounded float-right"> 
        </div>
        <div class="col">
            <h1>Take control of your finances</h1>
        </div>
    </div>
</div>

<div class="m-heroSection-swoop" style="background-color: #ff9966">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 158" fill="#ffffff" preserveAspectRatio="none" aria-hidden="true" class="m-heroSection-swoop-image svg-fill-white">
        <path fill="inherit" fill-rule="evenodd" d="M1440 61.151c-37.03 0-175.91-136.612-435.89 0C610.342 268.067 472.905 16.01 0 115.427V-480h1440v638H0v-638h1440V61.15Z">
        </path>
    </svg> 
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Budgeting doesnt have to be hard</h1>
        </div>
        <div class="col">
            <img src="/static/images/personal-finance-budget-example.png" class="img-fluid rounded float-right" height="200px" width="200px">
        </div>
    </div>
</div>

<div class="heroSection" style="background-color: #b3e6ff">
    <div class="row">
        <h1>Save More and Worry Less</h1>
        <p>Follow these three easy steps to simplify tracking your monthly expenses</p>
    </div>
    <div class="row">
        <div class="col">
            <h2>Understand your income</h2>
        </div>
        <div class="col">
            <h2>Think about where you spend your money most</h2>
        </div>
        <div class="col">
            <h2>Classify your transactions</h2>
        </div>
    </div>

</div>
{% endblock %}